[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra
[submodule "external/MOxUnit"]
	path = external/MOxUnit
	url = https://github.com/MOxUnit/MOxUnit.git
[submodule "external/MOcov"]
	path = external/MOcov
	url = https://github.com/MOcov/MOcov
