[submodule "eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra
[submodule "MOxUnit"]
	path = external/MOxUnit
	url = https://github.com/MOxUnit/MOxUnit
[submodule "MOcov"]
	path = external/MOcov
	url = https://github.com/MOcov/MOcov
